name: Security Scanner

on:
  schedule:
    - cron: '0 0 * * 1' # Every Monday at midnight
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  security-audit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Audit Backend
      working-directory: ./backend
      run: npm audit --audit-level=critical --omit=dev
      
    - name: Audit Frontend
      working-directory: ./frontend
      run: npm audit --audit-level=critical --omit=dev
